


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
  }
  

::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}


::-webkit-scrollbar-thumb {
    background: #0D1E30; 
    border-radius: 10px; 
}



.container_nav{
    width: 100%;
    display: flex;
    min-height: 120px;
    
    /* background-color: #0D1E30; */
}

.container_nav_pag{
    width: 100%;
    display: flex;
    min-height: 120px;
    background: #0D1E30;
    
}

.logo{
    width: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.logo a img{
    width: 100%;
    position: relative;
    /* border: 1px solid red; */
}

.opcoes{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
    
}

.opcoes ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-right: 60px;
    /* background-color: red; */
}

.opcoes ul svg{
    color: white;
    font-size: 40px;
    display: none;
    cursor: pointer;
    z-index: 4;
}


.link_menu{
    text-decoration: none;
    color: white;
    position: relative;
    cursor: pointer;
    padding: 8px 0px;
    /* top: -110px; */
    transition: .5s;
    animation: animalink 1s ease-in-out;
    opacity: 1;
    /* border: 2px solid black; */
}

.menu_responsivo{
    width: 0%;
    height: 100vh;
    position: fixed;
    border: 2px solid black;
    right: 0;
    top: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: .5s ease-in;
    overflow: hidden;

}

.fecha_icon{
    color: white;
    font-size: 50px;
    position: absolute;
    right: 0;
    top: 50px;
}

.menu_responsivo_vista{
    width: 400px;
    transition: .5s;
    opacity: 1;
    z-index: 4;

}


.opcoes_res{
    /* border: 2px solid white; */
    overflow: hidden;
    width: 100%;
    height: 60%;
}

.opcoes_res ul{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* list-style: none; */
}

.opcoes_res ul a{
    position: relative;
    top: 0px;
    transition: .5s all;
    /* border: 2px solid red; */
    font-size: 20px;
}

.link_res_visto{
    top: 0px;
    /* border: 2px solid red; */
}

.link_menu_avista{
    transition: .5s;
    top: 0;
    opacity: 1;
}

.link_menu_pag{
    top: 0;
    color: white;
    
   
}

.link_menu::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in-out;
}

.link_menu:hover::after{
    width: 100%;
}

.link_menu[aria-current = 'page']::after {
    width: 100%;
}

.link_menu[aria-current = 'page']:hover::after {
    width: 30%;
}

.pp{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    z-index: -1;
    position: absolute;
    background-image: url('../img/Mansao.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: zoom 26s  2s infinite linear;
}

.inicial{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.inicial::before {
    content: '';
    height: inherit;
    width: inherit;  
    display: block;
    position: absolute;
    background-image: linear-gradient(360deg, rgba(210, 207, 207, 0.608) 10%, rgba(11, 12, 12, 0.33) 35%, rgba(255, 255, 255, 0.100) 85%);
}

@keyframes zoom{
    0%{
       scale: 1;
    }
    50%{
        scale: 1.3;
    }
    100%{
        scale: 1;
    }
}


.container_busca{
    width: 80%;
    margin: 0 auto;
    margin-top: 13%;
    text-align: center;
    color: white;
    position: relative;
    /* border: 3px solid red; */
}

.container_busca h1{
    font-size: 2.8rem;
}

.container_busca p{
    font-size: 1.3rem;
}

.filtro{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgba(244, 233, 233, 0.44);
    border-radius: 35px;
    padding: 20px;
    
}

.filtro form{
    display: flex;
    justify-content: space-between;
    
}

.filtro form div{
    width: 200px;
}

.select_busca{
    width: 95%;
    padding: 15px;
    border-radius: 30px;
    outline:gray;
    border: none;
    font-size: 13px;
    font-weight: 400;
    
}

.select_foco{
   
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px   ;
    border-bottom-left-radius: 0 ;
    border-bottom-right-radius: 0 ;
    outline:gray;
}


.filtro form div button{
    width: 50%;
   padding: 15px;
   border-radius: 30px;
   border: none;
   background-color:rgb(3, 24, 58);
   
   color: white;
   font-size: 15px;
    font-weight: 400;
   cursor: pointer;
   transition: .5s;
}

.filtro form div button:hover{
    
    background-color: rgb(0, 98, 255) ;
}

/* Conteúdo da tela home  */

.conteudo_home{
    width: 100%;
}

.conteudo_secundario{
    width: 60%;
    height: 80px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
 
}


.conteudo_secundario div hr,
.container_destaque  hr,
.destaque_venda hr,
.destaque_aluguel hr,
.titulo_section hr,
.titulo_pagina hr{
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.conteudo_secundario h2,
.container_destaque h2,
.destaque_venda h2,
.destaque_aluguel h2,
.titulo_section h2,
.titulo_pagina h2{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.container_especialidades{
    width: 100%;
    min-height: 500px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    /* border: 2px solid rgb(231, 13, 13); */
    margin-bottom: 80px;
    padding-bottom: 50px;
}

.especialidade{
    width: 300px;
    height: 400px;
    border: none;
    /* transform: skew(180deg); */
    margin-left: 10px;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .6s;
    border-radius: 3px;
    /* border: 2px solid black; */
    margin-top: 80px;
}


.especialidade div{
    width: 250px;
    height: 60px;
    margin: 0 auto;
    border: 1px solid rgb(3, 24, 58);;
    background-color:rgb(3, 24, 58);
    border-radius: 8px;
    margin-top: 370px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: skew(180deg);
    cursor: pointer;
    transition: .7s;
    
}


.especialidade div h2{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    
}


.especialidade div:hover{
    background-color: rgb(0, 98, 255) ;
    border: 1px solid rgb(0, 98, 255);
    
}


.especialidade:nth-child(1){
    background-image: url('../img/apartamento.png');
}

.especialidade:nth-child(2){
    background-image: url('../img/casa.jpg.png'); 
}

.especialidade:nth-child(3){
    background-image: url('../img/cs_cond.png'); 
}

.especialidade:nth-child(4){
    background-image: url('../img/chacara.jpg'); 
}


.especialidades2{
    width: 100%;
    margin: 0 auto;
    height: 800px;
    /* border: 1px solid red; */
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.pai_especialidade2{
    width: 50%;
    height: 50%;
    /* border: 2px solid rgb(15, 97, 240); */
    overflow: hidden;
    position: relative;
    transition: .5s all;
}

.pai_especialidade2 a{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    position: absolute;
    z-index: 4;
}

.pai_especialidade2:hover .fundo_especialidade2{
    scale: 1.1;
    /* border: 2px solid red; */
}

.fundo_especialidade2{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    /* margin-left: 2px; */
    transition: .5s all;
    z-index: -1;
}

.pai_sobre_nos{
    width: 100%;
    min-height: 450px;
    /* border: 2px solid red; */
    display: flex;
   
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

#texto_sobre_nos{
    width: 575px;
    height: 450px;
    /* border: 1px solid rgb(8, 84, 225); */
    margin-right: 30px;
    padding: 5px;

}

#texto_sobre_nos h2{
    font-size: 68px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 15px;
    /* text-align: center; */
}

#img_sobre_nos{
    width: 575px;
    height: 450px;
    /* border: 1px solid black; */
}

#img_sobre_nos img{
    width: 515px;
    height: 430px;
}

.titulo_item_especialidade{
    font-size: 32px;
    font-weight: 400;
    /* width: 300px; */
    height:150px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    align-items: center;
    transition: .5s all;
}

.pai_especialidade2 .titulo_item_especialidade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2; 
    margin: 0;
}

.titulo_item_especialidade a{
    text-decoration: none;
}

.titulo_item_especialidade button {
    background-color: transparent;
    width: 130px;
    height: 0px;
    border: 1px solid white;
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.4s ease-in;
    position: relative;
    opacity: 0;
    bottom: -30px;
}

.pai_especialidade2:hover .titulo_item_especialidade button {
    opacity: 1;
    bottom: 0px;
    height: 48px;
}

.titulo_item_especialidade button:hover{
    color: black;
    background-color: white;
}

.fundo_especialidade2::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.3);
}

.pai_especialidade2:nth-child(1) .fundo_especialidade2{
    background-image: url('../img/ap_presidente2.png');
}

.pai_especialidade2:nth-child(2) .fundo_especialidade2{
    background-image: url('../img/house.jpg');
}

.pai_especialidade2:nth-child(3) .fundo_especialidade2{
    background-image: url('../img/Screenshot_2.png');
}

.pai_especialidade2:nth-child(4) .fundo_especialidade2{
    background-image: url('../img/chacara.jpg');
}


.container_destaque{
    width: 100%;
    height: 130px;
    background-color: #F1F1F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
   
    
}


.container_destaque  p{
    margin-top: 15px;
    font-weight: 600;
    color: rgba(80, 77, 77, 0.837);
    text-align: center;
}

/* .section_imoveis_destaque{
    border: 3px solid rgb(21, 255, 0);
    height: auto !;
    margin-bottom: 50px;
} */

.imoveisdestaque{
    width: 100%;
    margin: 0 auto;
    min-height: 900px;
    height: auto;
    background-color: #F1F1F7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    padding-bottom: 50px;
}


.card_imovel{
    display: flex;
    align-items: end;
    transition: .5s ease;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    height: 350px;   
}

.card_imovel:hover{
    box-shadow: 0px 2px 1px 1px rgb(189, 189, 189);
}


 .card_imovel::after{
    content: ' ';
    height: 150px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.295),  rgba(0, 0, 0, 0.06));
    top: 0;
    opacity: 0;
    transition: .5s;
}


.card_imovel:hover::after{
    opacity: 1;
}
 

.conteudo_imovel_destaque{
   width:100%;
   /* margin: 0 auto; */
   height: 0px;
   background-color:rgba(0, 0, 0, 0.695);
   transition: .5s ease;
   /* box-shadow: -10px -10px 20px 1px rgba(0, 0, 0, 0.733); */
   display: flex;
   flex-direction: column;
   position: relative;
   padding-left: 20px;
   padding-top: 10px;
   
   /* border: 3px solid red; */
   
}


.conteudo_imovel_destaque h3{
    color: white;
    font-size: 14px ;
    /* border: 1px solid red; */
    width: 70%;
}

.valor_des{
    font-size: 20px;
    color: white;
    /* border-top: 1px solid rgba(128, 128, 128, 0.345); */
}

.icon_des{
    width: 200px;
    margin-top: 30px;
    font-size: 0.7rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}

.icon_des i{
    /* width: 45px; */
    /* border: 1px solid red; */
    color: rgba(255, 255, 255, 0.527);
}

.corretor_resp{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 5px;
    z-index: 5;
}

.corretor_resp img{
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(0, 98, 255);
}

.corretor_resp p{
    color: white;
}

.imoveis_d{
    width: 90%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 3px solid red; */
}

.imoveis_d .card_imovel:nth-child(1),
.imoveis_d .card_imovel:nth-child(6){
    width: 41%;
    
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 10px;
}

.imoveis_d .card_imovel:nth-child(2),
.imoveis_d .card_imovel:nth-child(3),
.imoveis_d .card_imovel:nth-child(4),
.imoveis_d .card_imovel:nth-child(5)
{
    width: 20%;
    
    border-radius: 5px;
    margin: 10px;
}


.imoveis_d .card_imovel:nth-child(1){
    background-image: url('../img/house.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imoveis_d .card_imovel:nth-child(2){
    background-image: url('../img/Screenshot_4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imoveis_d .card_imovel:nth-child(3){
    background-image: url('../img/Screenshot_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imoveis_d .card_imovel:nth-child(4){
    background-image: url('../img/Screenshot_2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imoveis_d .card_imovel:nth-child(5){
    background-image: url('../img/Screenshot_3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.imoveis_d .card_imovel:nth-child(6){
    background-image: url('../img/houseD6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




.destaque_venda{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.destaque_venda h2{
    margin-top: 50px;

}


/* Carrosel */

:root {
    --crsl-bg: transparent;
    --box-bg: #1e272e;
    --box-shadow: #0000001c;
    --box-shadow-border: #0000000f;
    --box-border: #fff;
  }
  

 

  
  .carousel {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid red; */    
  }
  
  .carousel__prev,
  .carousel__next {
    position: absolute;
    bottom: -15%;
    transition: transform 0.25s ease;
  }
  
  .carousel__prev:hover,
  .carousel__next:hover {
    transform: scale(1.25);
  }
  
  .carousel__prev {
    left: 40%;
  }
  
  .carousel__next {
    right: 40%;
  }
  
  .carousel__body {
    width: 98%;
    margin: 0 auto;
    height: 550px;
    padding: 50px 10px ;
    overflow: hidden;
    /* border: 1px solid red; */
  }
  
  .carousel__slider {
    position: relative;
    transition: transform 1s ease-in-out;
    background: var(--crsl-bg);

  }

  .carousel__slider a{
    text-decoration: none;
    color: black;
  }
  
  .carousel__slider__item {
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: .6s all;

    /* border: 2px solid red; */
  
  }
  
  .carousel__slider__item .item__3d-frame {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

  }
  
   

/* Paulo */
  .carousel__slider__item  {
    width: 330px ; 
    height: 380px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
  }
  
.item__3d-frame__box img {
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px ;
    width: 100%;
    min-height: 220px;
    max-height: 220px;
    margin: 0px;
    /* border: 1px solid red; */
  }

  .carousel__slider__item:hover .dados_imove_venda,
  .item_destaque:hover .dados_imove_venda{
    box-shadow: 0px 2px 1px 0px rgb(189, 189, 189);
  }


 .item_destaque:hover img {
    transform: scale(1.1); 
  }

  .dados_imove_venda{
    height: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: visible;
    /* box-shadow: 0px 2px 1px 1px rgb(189, 189, 189); */
    padding: 8px;
    transition: .7s all;
    /* border: 1px solid red; */
  }

  .dados_tipo_venda{
    width: 95%;
    height: 65px;
    /* border: 1px solid red; */
    font-size: 14px;
  }

  .valor_venda{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    /* color: rgb(0, 98, 255); */
    /* border: 1px solid red; */
  }

  .icones_venda{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    overflow: hidden;
    /* border: 1px solid red; */
  }

  .icones_venda i{
    min-width: 40px;
    max-width: 70px;
    max-height: 20px;
    color: rgba(0, 0, 0, 0.582);
    font-size: 12px;
    text-align: center;
    /* border: 1px solid red; */
  }



  .valor_venda strong{
    font-size: 20px;
  }
  
  /* .carousel__slider__item .item__3d-frame__box--right,
  .carousel__slider__item .item__3d-frame__box--left {
    top: 0;
    width: 40px;
    backface-visibility: hidden;
  } */

  .carousel__prev i,
.carousel__next i,
.movimentar_car_equipe i {
  font-size: 60px;
  color: #1e272e;
  cursor: pointer;
}

.carousel__prev:hover i,
.carousel__next:hover i {
  transform: scale(1.25);
}

  
  /* .carousel__slider__item .item__3d-frame__box--left {
    left: 0;
    border-left-width: 5px;
    transform: translate3d(1px, 0, -40px) rotateY(-90deg);
    transform-origin: 0%;
  }
  
  .carousel__slider__item .item__3d-frame__box--right {
    right: 0;
    border-right-width: 5px;
    transform: translate3d(-1px, 0, -40px) rotateY(90deg);
    transform-origin: 100%;
  } */
  
 .destaque_aluguel{
    padding-top: 15px;
    /* min-height: 900px;
    width: 900px; */
    /* border: 1px solid red; */
    background-color: #F1F1F7;
    padding-bottom: 100px;
 }
  
 .destaque_aluguel div:nth-child(1) h2{
    margin-top: 40px;
 }

 .imovel_destaque{
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 30px;
    /* border: 1px solid red; */
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
     align-items: center; 
    justify-content: space-around;
 }


 /* Paulo */
 .item_destaque{
    width: 330px ; 
    height: 380px;
    margin-top: 30px;
    margin-bottom: 10px; 
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: .5s;
    /* border: 2px solid black; */
 }

 .pai_imagem {
    width: 100%;
    height: 535px;
    overflow: hidden;
/* border: 2px solid red; */
}

 .pai_imagem img{
    /* border: 5px solid black; */
    width: 100%;
    height: 220px;
    border-top-left-radius: 3px ;
    border-top-right-radius: 3px ;
    transition: transform 0.5s ease; /* Transição suave */
 }

 .item_destaque img{
    border-top-left-radius: 3px ;
    border-top-right-radius: 3px ;
    width: 100%;
    min-height: 220px;
    margin: 0px;
 }

 .icon_whats{
    width: 70px;
    height: 70px;
    /* border: 1px solid red; */
    position: fixed;
    bottom: 40px;
    left:  40px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 3px green;
    transition: .5s;
    animation: sombra 2s infinite;
    cursor: pointer;
    z-index: 999;
 }

 @keyframes sombra{
    0%{
        box-shadow: 0px 0px 1px 3px green;
    }
    70%{
        box-shadow: 0px 0px 40px 10px green;
    }
    100%{
        box-shadow: 0px 0px 1px 3px green;
    }
 }

 .icon_whats img{
    width: 100%;
 }

 .rodape{
    /* margin-top: 150px; */
    height: 450px;
    width: 100%;
    /* background-image: linear-gradient(120deg,  #F1F1F7 , white); */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D1E30;
    position: relative;
 }

 .pai_conteu_roda{
    width: 500px;
    height: 350px;
    /* border: 1px solid rgb(47, 255, 0); */
    margin: 10px;
    color:  white;
 }
 
 .pai_conteu_roda:nth-child(2){
    width: 350px;
 }

 .pai_conteu_roda h3{
    font-size: 20px;
    margin-bottom: 10px;
 }

 .pai_conteu_roda hr{
    width: 80px;
    margin-bottom: 20px;
    transition: .5s;
 }

 .pai_conteu_roda:hover hr{
    width: 60%;
 }

 .desc_rodape,
 .dados_contato{
    /* border: 1px solid red; */
    width: 90%;
    /* height: 70%; */
    margin: 0 auto;
    /* padding: 15px; */

 }


 .desc_rodape:hover hr{
    width: 100%;
 }


 .desc_rodape h4,
 .desc_rodape p{
    margin-bottom: 15px;
    color: #c8cace;
 }

 .links_rodape{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
 }

 .pai_conteu_roda a{
    text-decoration: none;
    color: #c8cace;
    margin-bottom: 7px;
    transition: .5s;
    display: block;
 }

 .pai_conteu_roda a:hover{
    color: white;
    margin-left: 10px;
 }

 .pai_conteu_roda i{
    margin-right: 10px;
 }

 .dados_contato p{
    color:#c8cace;
    margin-bottom: 10px;
 }

.direitos{
    width: 100%;
    height: 70px;
    /* background-color: black; */
    background-image: linear-gradient(180deg, #0D1E30, rgba(0, 0, 0, 0.738));
    position: absolute;
    bottom: 0px;
    color: #c8cace;
    /* border: 1px solid rgb(0, 255, 17); */
    display: flex;
    
}

.direitos div{
    width: 45%;
    /* border: 1px solid red; */
    text-align: end;
}

.direitos div:nth-child(1){
    display: flex;
    align-items: center;
}

.direitos div img{
    width:150px;
    margin-top: 15px;
}

/* Carrosel de depoimentos e corretores  */

.container_carrossel{
    width: 100%;
    /* padding: 10px; */
    /* height: 800px; */
    /* background-color: rgba(8, 154, 115, 0.592); */
    border: 1px solid transparent;
    overflow: hidden;
    margin-bottom: 150px;
}

.titulo_section{
    width: 100%;
    height: 150px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.carrossel_depoimentos,
.corressel_equipe{
    width: 90%;
    margin: 0 auto;
    /* height: 550px; */
    /* background-color: rgba(255, 242, 0, 0.737); */
    transition: transform 0.7s ease-in-out;
    overflow: hidden;
    /* padding: 15px; */
    /* border: 1px solid rgb(223, 11, 11); */
}

.pai_card{
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.4s ease-in-out;
    /* border: 1px solid rgb(4, 255, 0); */
}

.card_depoimento,
.card_equipe{
    flex: 0 0 300px; 
    height: 390px;
    border: 1px solid transparent;
    margin-left: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0px 0px 4px 1px gray; */
    margin-top: 15px;
    padding: 8px;
    background-color: #0D1E30;
    transition: .5s all;
}

.foto_cliente{
    width: 180px;
    height: 180px;
    
}

.foto_cliente img{
    width: 90%;
    height: 160px;
    border-radius: 50%;
    text-align: center;
}

.texto_depoimento{
    width: 280px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.titulo_depoimento{
    width: 280px;
    /* border: 1px solid rgb(0, 153, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_depoimento div p:nth-child(1){
    color: white;
    font-size: 1.4rem;
}

.titulo_depoimento div p:nth-child(2){
    text-align: center;
    color: #c8cace;
    margin-bottom: 7px;
}

.incon_depoimento{
    width: 280px;
    text-align: center;
}

.incon_depoimento i{
    color:rgb(255, 215, 0); 
}

.descri_depoimento{
    width: 260px;
    height: 100px;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 5px;
    color: white;
    overflow: hidden;
}


.emaildepoimento{
    width: 260px;
    height: 30px;
    margin: 0 auto;
    margin-top: 5px;
    /* border: 1px solid rgb(9, 255, 0); */
    color: #c8cace;
    padding: 3px;
    /* border: 2px solid red; */
    font-size: 14px;
}

.emaildepoimento i{
    margin-right: 8px;
}

.descri_depoimento p:nth-child(1){
    margin-top: 7px;
    font-weight: 200;
    font-size: 13px;
    /* border: 2px solid red !important; */
}


.corressel_equipe{
    width: 90%;
    margin: 0 auto;
    /* height: 500px; */
    /* border: 1px solid red; */
    /* background: #F1F1F7; */
    overflow: hidden;
}

.pai_equipe{
    width: 100%;
    margin: 0 auto;
    height: 450px;
    /* border: 2px solid blue; */
    display: flex;
    transition: transform 0.7s ease;
    /* overflow: hidden; */
    /* background-color: #F1F1F7; */
    /* transform: translateX(-500px); */
}

.card_equipe{
    background-color: #0D1E30;
    transition: .5s all;
}

.card_equipe:hover,
.card_depoimento:hover{
    background-color: #0d1e30d3;
    
}

.icon_corretor{
    width: 260px;
    height: 80px;
    margin: 0 auto;
    margin-top: 5px;
    color: #c8cace;
    padding: 3px;
    /* border: 2px solid red; */
}

.icon_corretor i{
    margin-right: 8px;
}

.movimentar_car_equipe{
    width: 200px;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.movimentar_car_equipe i{
    transition: .5s all;
}

.movimentar_car_equipe i:hover{
    scale: 1.4;
}


/* .corpo_busca{
    width: 100%;
    height: 100vh;
    background-color: #F1F1F7;
} */

.conteiner_busca_imovel{
    width: 100%;
    min-height: 65vh;
    background-color: white;
    border: 1px solid transparent
}

.itens_busca{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #21212217;
}

.pai_input_busca{
    width: 1165px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.pai_input_busca div{
    width: 140px ;
    /* border: 1px solid red; */
    text-align: end;
}

.pai_input_busca div select,
.pai_input_busca div input{
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    font-weight: 600;
    outline: none;
    /* border: 1px solid red; */
}

.pai_input_busca div button{
    width: 90%;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #0D1E30;
    color: white;
    cursor: pointer;
    font-size: 1.0rem;
    transition: .5s;
    /* border: 1px solid red */
}


.pai_input_busca div button:hover{
    background-color: #0062FF;
    
}

.pai_input_busca div i{
    margin-left: 10px;
}

.conteiner_imoveis_busca{
    width: 100%;
    /* border: 1px solid rgb(0, 255, 115); */
    margin-bottom: 100px;
    /* background-color: white; */
}

.pai_busca_imovel{
    width: 1300px;;
    /* height: 500px; */
    margin: 0 auto;
    /* border: 1px solid blue; */
}

.container_fotos_imovel {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    pointer-events: all;
}

.pai_fotos_imovel {
    width: 100%;
    height: 450px;
    display: flex;
    transition: .6s all;
    pointer-events: all;
}

.movimentar_foto_imovel {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    pointer-events: none; 
    z-index: 1;
}

.movimentar_foto_imovel .volta,
.movimentar_foto_imovel .passa {
    pointer-events: all; /* Reativa eventos de ponteiro para os botões */
}


.movimentar_foto_imovel div{
    height: 100%;
    width: 80px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.150);
    cursor: pointer;
}

.movimentar_foto_imovel i{
    font-size: 60px;
    color: white;
}

.container_dados_imovel{
    width: 100%;
    /* height: 900px; */
    background-color: #F1F1F7;
    padding-bottom: 100px;
    /* border: 1px solid red; */
}

.pai_conteudo{
    width: 90%;
    height: 100%;
    /* border: 2px solid black; */
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.info_imovel{
    /* width: 80%; */
    flex: 0 0 75%;
    height: 460px;
    background-color: white;
}

.info_imovel h1{
    font-size: 2.5rem;
    /* width: 80%; */
    /* border: 2px solid red; */
}


.texto_titulo{
    width: 70%;
    margin-top: 25px;
    margin-left: 25px;
    /* border: 1px solid black; */
}


.icones_compartilhar{
    width: 40%;
    height: 50px;
    /* border: 1px solid red; */
}

.pai_valor{
    width: 95%;
    /* border: 2px solid red; */
    display: flex;
    margin: 0;
    padding: 0px;
    /* align-items: center; */
    flex-wrap: wrap;
}

.pai_valor div{
    height: 70px;
    padding: 8px;
    margin-left: 15px;
    text-align: center;
    border-right: 2px solid #F1F1F7;
    /* border: 2px solid red; */
}

.pai_valor div p{
    font-size: 1.1rem;
}


.valor_imovel{
    /* border: 2px solid red; */
    height: 80px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    width: 30%;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    margin-right: 5%;
    margin-bottom: 3%;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.valor_imovel::before {
    content: "";
    position: absolute;
    left: -41%;
    height: 100%;
    width: 150%;
    top: 0;
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
    z-index: -1;
}

 .valor_imovel::before{
    background-color: #0D1E30;
}

.icones_compartilhar a img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.faleconosco{
    flex: 0 0 24%;
    background-color: white;
    height: 460px;
    padding: 10px;
    /* margin-left: 8px; */
}

.faleconosco form{
    background-color: #fdd786;
    border: 1px solid #FEB00E;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.faleconosco form input {
    width: 100%;
    margin: 5px 0;
    border: none;
    padding: 10px;
    color: #000;
    border-radius: 2px;
    border: 1px solid #e1a94d;
}

.faleconosco form button {
    background-color: #FF3F00;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, .12);
    color: #fff;
    border: none;
    width: 100%;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 2px;
}

.faleconosco__cod {
    width: 50%;
    text-align: center;
}

.faleconosco__codinput {
    width: 30% !important;
}

.caracteristicas,
.container_descricao,
.container_central_de_negocios,
.container_fale_conosco,
.conteiner_imoveis_similar{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}



.pontos_fortes{
    width: 75%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.pontos_fortes p{
    height: 30px;
    padding: 10px;
    border: 1px solid #F1F1F7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .5s all;
    font-size: 1.1rem;
}

.pontos_fortes p:hover{
    color: white;
    background-color: #0D1E30;
    border: 1px solid #0D1E30;
}

.pontos_fortes p strong{
    margin-left: 5px;
}

.pai_descricao,
.pai_central_negocios,
.pai_fale_conosco,
.pai_similar{
    width: 75%;
    background-color: white;
    padding: 25px;
}


.pai_descricao:hover .titulo_desc hr,
.pai_central_negocios:hover .titulo_central hr,
.pai_fale_conosco:hover  .titulo_fale_conosco hr,
.pai_similar:hover .titulo_imovel_similar hr {
    width: 90%;
}

.titulo_desc,
.titulo_central,
.titulo_fale_conosco,
.titulo_imovel_similar{
    width: 60%;
    margin-bottom: 30px;
    /* border: 2px solid red; */
}

.titulo_desc hr,
.titulo_central hr,
.titulo_fale_conosco hr,
.titulo_imovel_similar hr{
    height: 5px;
    margin-top: 5px;
    width: 25%;
    background-color: #0D1E30;
    transition: .5s ease;
}

.descricao_imovel{
    width: 97%;
    font-size: 1.0rem;
}

.proximidades{
    width: 90% ;
    margin-top: 30px
}

.proximidades hr{
    height: 5px;
    margin-top: 5px;
    width: 4%;
    background-color: #0D1E30;
    transition: .5s ease;
    margin-bottom: 10px;
}

/* .proximidades:hover hr{
    width: 5%;
} */

.pai_itens-proximidades{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.cxItem i{
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 0px;
}

.titulo_central hr{
    margin-bottom: 30px
}

.pai_form_fale_agora{
    width: 90%;
    margin: 0 auto;
}

.desc_frmemi {
    background-color: #fdd786;
    border: 1px solid #FEB00E;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-proposta input[type=text] {
    float: left;
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    border-radius: 2px;
    border: 1px solid #e1a94d;
}

.form-proposta input[type=submit] {
    background-color: #FF3F00;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, .12);
    color: #fff;
    border: none;
    text-transform: uppercase;
    width: auto;
    padding: 15px 35px;
    float: right;
    cursor: pointer;
    cursor: hand;
    border-radius: 2px;
}

.form-proposta textarea {
    width: 100%;
    height: 100%;
    border: 2px solid red; 
     width: 100%;
    height: 75px;
    font-family: Arial;
    padding: 5px;
    color: #000;
    border-radius: 2px;
    border: 1px solid #e1a94d;
}

.fale_agora{
    width: 100%;
    /* border: 3px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fale_agora div{
    width: 30%;
}

.fale_agora div:nth-child(4){
    width: 40%;
    height: 80px;
}

.fale_agora div:nth-child(5){
    width: 30%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*  Sobre nós  */

.sobre_nos,
.container_contato,
.container_blog{
    width: 100%;
    min-height: 65vh;
    /* background-color: #F1F1F7; */
}



.titulo_pagina{
    width: 100%;
    margin: 0 auto;
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #F1F1F7;
}

.texto_sobre_nos{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
    /* border: 2px solid red; */
    /* background-color: white; */
}

.pai_texto,
.pai_contato,
.pai_blog{
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 1.1rem;
    /* border: 1px solid red; */
}

.mapa{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.mapa p{
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.form_contato{
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 100px;
}

.form_contato {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.form_contato hr,
.form_contato span{
    color: #888383;
    width: 90%;
}



.pai_input_contato{
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 20px;
}

.pai_input_contato input{
    width: 90%;
    padding: 10px;
    font-size: 1.0rem;
}

.pai_text_contato{
    /* border: 2px solid red; */
    margin-top: 20px;
}

.pai_text_contato textarea{
    width: 90%;
    padding: 10px;
    font-size: 1.0rem;
}

.cod_contato{
    width: 90%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cod_contato p:nth-child(1){
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC;
    padding: 10px 25px;
}

.cod_contato input{
    padding: 10px 5px;
    font-size: 1.0rem;
}

.cod_contato button{
    padding: 10px 25px;
    background-color: #0D1E30;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.container_blog{
    margin-bottom: 100px;
}

.pai_blog{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    padding: 15px;
    
}

.noticias{
    height: 150px;
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 50px;
    /* border: 1px solid #CCCCCC; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noticias div:nth-child(1){
    width: 25%;
    /* border: 1px solid red; */
}

.noticias div:nth-child(2){
    width: 70%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.noticias img{
    width: 240px;
    height: 150px;
    border-radius: 8px;
}


.noticias a{
    /* border: 2px solid red; */
    width: 30%;
}

.noticias a button{
    width: 100%;
    background-color: #0D1E30;
    color: white;
    padding: 12px 22px;
    margin-top: 10p;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: .5s;
    font-size: 1.0rem;
}

.noticias a button:hover{
    background-color: #0062FF;
}


/* Responsividade */



@media (max-width:1290px) {
    /* .imovel_destaque{
        width: 900px;
        border: 2px solid red;
    }

    .itens_busca{
        width: 900px;
        border: 2px solid;
    } */
}


@media (max-width: 1200px){

    .opcoes ul{
        width: 80%;
        /* background-color: red */
    }


    .filtro form div button{
       /* background-color: red; */
       width: 90%;
    }

    .pai_sobre_nos{
        width: 85%;
        margin: 0 auto;
        /* border: 2px solid red; */
    }
    
    #texto_sobre_nos > h2{
        font-size: 40px;
    }

    #texto_sobre_nos > p{
        font-size: 13px;
    }

    #img_sobre_nos > img{
        width: 350px;
        height: 350px;
    }

    .pai_busca_imovel{
        width: 98%;
        /* border: 2px solid rgb(0, 255, 55); */
       }
   

    .imovel_destaque{
        width: 90%;
        /* border: 2px solid red; */
    }

   .item_destaque{
    width: 270px ; 
    height: 360px;
    /* border: 2px solid red; */
   }

   .pai_input_busca{
    width: 915px;
    /* border: 2px solid red; */
}

.pai_input_busca div{
    width: 115px ;
    font-size: 12px;
    
}

.conteudo_imovel_destaque h3{
    font-size: 12px;
    /* border: 2px solid red; */
    width: 65%;
}

.valor_des{
    font-size: 14px;
}

.corretor_resp{
    /* border: 3px solid red; */
    width: 60px;
    height: 60px;
}

.corretor_resp p{
    /* border: 3px solid red; */
    font-size: 13px;
    width: 100%;
}


.icon_des{
    width: 170px;
    margin-top: 30px;
    font-size: 10px;
    /* border: 1px solid red; */
}

.noticias{
    height: auto;
    flex-direction: column;
    /* border: 2px solid red; */
}

.noticias img{
    width: 100%;
    justify-content: center;
    /* border: 2px solid rgb(0, 38, 255); */
}


.noticias div:nth-child(1){
    width:95%;
    height: auto;
    /* border: 1px solid red; */
}

.noticias div:nth-child(2){
    width:95%;
    height: auto;
    /* border: 1px solid red; */
}

body > section.container_blog > div.pai_blog > div:nth-child(1) > div:nth-child(2){
    /* border: 2px solid rgb(0, 38, 255); */
}

.noticias div:nth-child(2) a{
    /* border: 2px solid red; */
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.noticias div:nth-child(2) h3{
    font-size: 16px;
}

.noticias div:nth-child(2) p{
    font-size: 14px;
}

.noticias a{
    /* border: 2px solid red; */
    width: 40%;
}


.noticias div:nth-child(2)  button{
    padding: 8px 12px;
    width: 90%;
    font-size: 15px;
}

.container_busca{
    width: 90%;
}

.container_busca h1{
    font-size: 2.4rem;
}


.container_busca p{
    font-size: 1.2rem;
}

.rodape p,
.rodape a{
    /* border: 2px solid red; */
    font-size: 13px;
}

.rodape h3{
    font-size: 16px;
}

.pai_input_busca{
    width: 800px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.pai_input_busca div{
    width: 120px ;
    /* border: 1px solid red; */
    text-align: end;
}

.pai_input_busca div select{
    width: 90%;
}


}



@media (max-width: 1199px){
    .noticias{
        width: 80%;
        /* border: 1px solid red; */
    }

    .noticias img{
        width: 70%;
        /* border: 2px solid red; */
    }

    .noticias div:nth-child(1){
        width:70%;
        height: auto;
        text-align: center;
        /* border: 1px solid rgb(25, 0, 255); */
    }
    
    .noticias div:nth-child(2){
        width:70%;
        height: auto;
        /* border: 1px solid red; */
        padding: 10px;
    }


    .pai_conteudo{
        width: 100%;
        /* border: 3px solid red; */
        flex-wrap: wrap;
    }


    .conteiner_busca_imovel{
        /* border: 2px solid red; */
        width: 90%;
        margin: 0 auto;
    }

   .item_carrossel{
    width: 100%;
    /* border: 2px solid red; */
   }



    .info_imovel{
     
        flex: 0 0 90%;
        margin: 0 auto;
        height: auto;
        background-color: white;
        
    }

    .texto_titulo h1{
        font-size: 30px;
    }

   
    .faleconosco{
        flex: 0 0 90%;
        margin: 0 auto;
        
        background-color: white;
        height: 460px;
        padding: 30px;
        /* border: 2px solid red; */
        margin-top: 50px;
    }

    #mensagem1{
        width: 80%;
        /* border: 3px solid red; */
    }

    .pontos_fortes{
        width: 100%;
        flex-wrap: wrap;
        /* border: 2px solid red; */
        padding: 10px;
    }

    .pontos_fortes p{
        /* border: 3px solid black; */
        margin-top: 15px;
        font-size: 13px;
    }

    .pai_descricao{
        width: 100%;
    }

    .pai_fale_conosco{
        display: none;
    }

    .pai_central_negocios{
        width: 100%;
    }

    .pai_central_negocios h2,
    .faleconosco__title,
    .titulo_desc h2,
    .titulo_imovel_similar h2,
    .titulo_imovel_similar h2{
        font-size: 20px;
    }

    .pai_similar{
        width: 100%;
        flex-wrap: wrap;
    }


} 



@media (max-width: 850px) {

    .opcoes ul{
        justify-content: end;
    }

    .opcoes ul li{
        display: none;
    }

    .opcoes ul svg{
        display: block;
    }

    .especialidades2{
       
        height: inherit;
        display: flex;
        flex-direction: column;
    }

    .pai_especialidade2{
        width: 100%;
        height: 350px;
    }



    .pai_sobre_nos{
        width: 95%;
        flex-direction: column;
       
        margin-bottom: 20px;
    }

    #texto_sobre_nos{
        width: 90%;
        margin: 0 auto;
        height: inherit;
      
      
    }

    #texto_sobre_nos > h2{
        font-size: 47px;
    }

    #texto_sobre_nos > p{
        font-size: 17px;
    }

    #img_sobre_nos{
        width: 90%;
        height: inherit;
        margin: 0 auto;
       
        text-align: center;
        margin-bottom: 30px;
    }

    #img_sobre_nos img{
        width: 100%;
        margin: 0 auto;
    }

  
    .card_imovel{
        width: 300px !important;
    }

    .pai_input_busca{
       width: 75%;
       height: auto;
       /* border: 2px solid red; */
       flex-wrap: wrap;
       margin-bottom: 80px;
    }

    .pai_input_busca div{
        /* border: 2px solid red; */
        width:  160px;
        margin-top: 15px;
    }

    .pai_input_busca div select{
        width: 100%;
    }

    body > section.conteiner_busca_imovel > div > form > div > div:nth-child(7){
        width: 100%;
        /* border: 2px solid red; */
        text-align: center;
    }

    body > section.conteiner_busca_imovel > div > form > div > div:nth-child(7) button{
        width: 150px;
    }
    

.pai_busca_imovel{
    margin-top: 120px;
}



}

@media (max-width:700px) {

    
    
    .container_busca{
        width: 90%;
        margin: 0 auto;
        /* border: 2px solid red; */
    }
    
    .container_busca h1{
        font-size: 1.8rem;
    }
    
    
    .container_busca p{
        font-size: 1.0rem;
    }

    .filtro{
        /* border: 2px solid red; */
        width: 350px;
        height: 350px;
        border-radius: 3px;
       
    }

    .filtro form {
        width: 100%;
        flex-wrap: wrap;
        background-color: white;
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .filtro form div{
        width: 300px;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        /* margin-top: 10px; */
    }

    .pp{
        animation: none;
    }

    .logo{
        width: 100%;
        /* border: 2px solid red; */
    }

    .logo a img{
        /* border: 2px solid red; */
    }
    

    .rodape{
        flex-wrap: wrap;
        height: auto;
    }

    .rodape div{
        /* border: 2px solid red; */
        height: auto;
        padding: 5px;
        margin-bottom: 20px;
    }

    .rodape div p,
    .rodape div a{
        font-size: 14px;
    }

    body > footer > div:nth-child(3){
        /* border: 2px solid red; */
        /* height: 400px; */
        margin-bottom: 100px;
    }

    .direitos{
        flex-wrap: wrap;
        height: auto;
        margin-top: 30px;
        /* border: 3px solid red; */
    }

    .direitos div{
        width: 100%;
        /* border: 2px solid red; */
    }

    .direitos div:nth-child(1) p{
        width: 100%;
        /* border: 2px solid white; */
        font-size: 12px;
    }

    
    .pai_input_busca{
        width: 70%;
        height: auto;
        /* border: 2px solid red; */
        flex-wrap: wrap;
        margin-bottom: 80px;
     }

     .pai_input_busca div{
        /* border: 2px solid red; */
        width:  150px;
        margin-top: 15px;
    }


    .cod_contato{
        flex-wrap: wrap;
    }

    .noticias img{
        width: 100%;
        justify-content: center;
        /* border: 2px solid rgb(0, 38, 255); */
    }
    
    
    .noticias div:nth-child(1){
        width:95%;
        height: auto;
        /* border: 1px solid red; */
    }
    
    .noticias div:nth-child(2){
        width:95%;
        height: auto;
        /* border: 1px solid red; */
    }
    
    body > section.container_blog > div.pai_blog > div:nth-child(1) > div:nth-child(2){
        /* border: 2px solid rgb(0, 38, 255); */
    }
    
    .noticias div:nth-child(2) a{
        /* border: 2px solid red; */
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
    }

}



@media (max-width:450px){
    .pai_input_busca{
        width: 85%;
        height: auto;
        /* border: 2px solid red; */
        flex-wrap: wrap;
        margin-bottom: 80px;
     }

     .pai_input_busca div{
        /* border: 2px solid red; */
        width:  120px;
        margin-top: 15px;
    }

    .noticias{
        width: 100%;
    }


    .info_imovel{
     
        flex: 0 0 100%;
        margin: 0 auto;
        height: auto;
        background-color: white;
        /* border: 3px solid red; */
    }

    .info_imovel i{
        font-size: 12px;
    }

    .texto_titulo h1{
        font-size: 30px;
    }

    .texto_titulo span{
        width: 100%;
    }

 
    .cxItem{
        margin: 10px;
    }

    .pontos_fortes{
        width: 100%;
        padding: 20px;
    }
   
    .faleconosco{
        flex: 0 0 100%;
        margin: 0 auto;
        
        background-color: white;
        height: 460px;
        padding: 30px;
        margin-top: 50px;
    }

    #mensagem1{
        width: 100%;
    }

    .pai_descricao{
        width: 100%;
    }

 

.valor_imovel{
    width: 50px;
    /* border: 3px solid red; */
    margin: 0px;
    font-size: 30px;
}


.valor_imovel::before {
    content: " ";
    position: absolute;
    left: -60%;
    height: 100%;
    width: 150%;
    top: 0;
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
    z-index: -1;
}

.info_imovel{
    width: 100%;
}

.caracteristicas{
    width: 100%;
}

.container_descricao,
.container_fotos_imovel,
.conteiner_busca_imovel,
.container_central_de_negocios,
.conteiner_imoveis_similar{
    width: 100%;
}


}