*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container_nav{
    width: 100%;
    display: flex;
    height: 100px;
}

.logo{
    width: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 60%;
    position: relative;
}

.opcoes{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.opcoes ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    margin-right: 60px;
}


.link_menu{
    text-decoration: none;
    color: white;
    position: relative;
    cursor: pointer;
    padding: 8px 0px;
    top: -80px;
    transition: .5s;
    animation: animalink 1s ease-in-out;
}


.link_menu_avista{
    transition: .5s;
    top: 0;
}

.link_menu::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: rgb(0, 98, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in-out;
}

.link_menu:hover::after{
    width: 100%;
}

.link_menu[aria-current = 'page']::after {
    width: 100%;
}

.link_menu[aria-current = 'page']:hover::after {
    width: 30%;
}

.inicial{
    width: 100%;
    height: 100vh;
    background-image: url('../img/Mansao.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    animation: zoom 26s  2s infinite linear;
}

.inicial::before {
    content: '';
    height: inherit;
    width: inherit;  
    display: block;
    position: absolute;
    background-image: linear-gradient(360deg, rgba(210, 207, 207, 0.608) 10%, rgba(11, 12, 12, 0.33) 35%, rgba(255, 255, 255, 0.100) 85%);
}

@keyframes zoom{
    0%{
        background-size: 100%;
    }
    50%{
        background-size: 110%;
    }
    100%{
        background-size: 100%;
    }
}


.container_busca{
    width: 80%;
    margin: 0 auto;
    margin-top: 13%;
    text-align: center;
    color: white;
    position: relative;
}

.container_busca h1{
    font-size: 2.8rem;
}

.container_busca p{
    font-size: 1.3rem;
}

.filtro{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgba(244, 233, 233, 0.44);
    border-radius: 35px;
    padding: 20px;
    
}

.filtro form{
    display: flex;
    justify-content: space-between;
    
}

.filtro form div{
    width: 200px;
}

.select_busca{
    width: 95%;
    padding: 15px;
    border-radius: 30px;
    outline:gray;
    border: none;
    font-size: 1.0rem;
    font-weight: 500;
    
}

.select_foco{
   
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px   ;
    border-bottom-left-radius: 0 ;
    border-bottom-right-radius: 0 ;
    outline:gray;
}


.filtro form div button{
    width: 50%;
   padding: 15px;
   border-radius: 30px;
   border: none;
   background-color:rgb(3, 24, 58);
   
   color: white;
   font-size: 1.0rem;
   font-weight: 500;
   cursor: pointer;
   transition: .5s;
}

.filtro form div button:hover{
    
    background-color: rgb(0, 98, 255) ;
}

/* Conteúdo da tela home  */

.conteudo_home{
    width: 100%;
}

.conteudo_secundario{
    width: 60%;
    height: 80px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}


.conteudo_secundario div hr,
.container_destaque  hr,
.destaque_venda hr,
.destaque_aluguel hr,
.titulo_section hr{
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.conteudo_secundario h2,
.container_destaque h2,
.destaque_venda h2,
.destaque_aluguel h2,
.titulo_section h2{
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}

.container_especialidades{
    width: 100%;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.especialidade{
    width: 23%;
    height: 400px;
    border: 1px solid gray;
    transform: skew(176deg);
    margin-left: 10px;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .6s;
}


.especialidade div{
    width: 250px;
    height: 60px;
    margin: 0 auto;
    border: 1px solid rgb(3, 24, 58);;
    background-color:rgb(3, 24, 58);
    border-radius: 8px;
    margin-top: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(180deg);
    cursor: pointer;
    transition: .7s;
}


.especialidade div h2{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    
}


.especialidade div:hover{
    background-color: rgb(0, 98, 255) ;
    border: 1px solid rgb(0, 98, 255);
    
}


.especialidade:nth-child(1){
    background-image: url('../img/apartamento.png');
}

.especialidade:nth-child(2){
    background-image: url('../img/casa.jpg.png'); 
}

.especialidade:nth-child(3){
    background-image: url('../img/cs_cond.png'); 
}

.especialidade:nth-child(4){
    background-image: url('../img/chacara.jpg'); 
}


.container_destaque{
    width: 100%;
    height: 130px;
    background-color: #F1F1F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    
}

.container_destaque  p{
    margin-top: 15px;
    font-weight: 600;
    color: rgba(80, 77, 77, 0.837);
    text-align: center;
}

.imoveisdestaque{
    width: 100%;
    margin: 0 auto;
    height: 900px;
    background-color: #F1F1F7;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card_imovel{
    display: flex;
    align-items: end;
    transition: .5s ease;
    border: 2px solid transparent;
    cursor: pointer;
    overflow: hidden;
    position: relative;    
}

.card_imovel:hover{
    box-shadow: 3px 5px 5px 5px gray;
}


 .card_imovel::after{
    content: ' ';
    height: 50%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.295),  rgba(0, 0, 0, 0.06));
    top: 0;
    opacity: 0;
    transition: .5s;
}


.card_imovel:hover::after{
    opacity: 1;
}
 

.conteudo_imovel_destaque{
   width:100%;
   /* margin: 0 auto; */
   height: 0px;
   background-image: linear-gradient(50deg, rgba(0, 0, 0, 0.926) 40%, transparent 75%);
   transition: .5s ease;
   /* box-shadow: -10px -10px 20px 1px rgba(0, 0, 0, 0.733); */
   display: flex;
   flex-direction: column;
   position: relative;
   padding-left: 20px;
   padding-top: 10px;
}


.conteudo_imovel_destaque h3{
    color: white;
    font-size: 1.0rem ;
    /* border: 1px solid red; */
    width: 70%;
}

.valor_des{
    font-size: 1.4rem;
    color: white;
    /* border-top: 1px solid rgba(128, 128, 128, 0.345); */
}

.icon_des{
    width: 220px;
    margin-top: 10px;
    font-size: 0.7rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}

.icon_des i{
    width: 45px;
    /* border: 1px solid red; */
    color: rgba(255, 255, 255, 0.527);
}

.corretor_resp{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 5px;
    z-index: 5;
}

.corretor_resp img{
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(0, 98, 255);
}

.corretor_resp p{
    color: white;
}

.imoveis_d{
    width: 90%;
    margin: 0 auto;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.imoveis_d .card_imovel:nth-child(1),
.imoveis_d .card_imovel:nth-child(6){
    width: 41%;
    height: 350px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 10px;
}

.imoveis_d .card_imovel:nth-child(2),
.imoveis_d .card_imovel:nth-child(3),
.imoveis_d .card_imovel:nth-child(4),
.imoveis_d .card_imovel:nth-child(5)
{
    width: 20%;
    height: 350px;
    border-radius: 5px;
    margin: 10px;
}


.imoveis_d .card_imovel:nth-child(1){
    background-image: url('../img/house.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imoveis_d .card_imovel:nth-child(2){
    background-image: url('../img/Screenshot_4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imoveis_d .card_imovel:nth-child(3){
    background-image: url('../img/Screenshot_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imoveis_d .card_imovel:nth-child(4){
    background-image: url('../img/Screenshot_2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imoveis_d .card_imovel:nth-child(5){
    background-image: url('../img/Screenshot_3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.imoveis_d .card_imovel:nth-child(6){
    background-image: url('../img/houseD6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}




.destaque_venda{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.destaque_venda h2{
    margin-top: 50px;

}


/* Carrosel */

:root {
    --crsl-bg: transparent;
    --box-bg: #1e272e;
    --box-shadow: #0000001c;
    --box-shadow-border: #0000000f;
    --box-border: #fff;
  }
  

 

  
  .carousel {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid red; */    
  }
  
  .carousel__prev,
  .carousel__next {
    position: absolute;
    bottom: -15%;
    transition: transform 0.25s ease;
  }
  
  .carousel__prev:hover,
  .carousel__next:hover {
    transform: scale(1.25);
  }
  
  .carousel__prev {
    left: 40%;
  }
  
  .carousel__next {
    right: 40%;
  }
  
  .carousel__body {
    width: 100%;
    height: 550px;
    padding: 50px 10px ;
    overflow: hidden;
    /* border: 1px solid red; */
  }
  
  .carousel__slider {
    position: relative;
    transition: transform 1s ease-in-out;
    background: var(--crsl-bg);

  }
  
  .carousel__slider__item {
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: .6s all;
  
  }
  
  .carousel__slider__item .item__3d-frame {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

  }
  
   

/* Paulo */
  .carousel__slider__item .item__3d-frame__box {
    width: 350px ; 
    height: 400px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
  }
  
.item__3d-frame__box img {
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px ;
    width: 100%;
    min-height: 220px;
    max-height: 220px;
    margin: 0px;
    /* border: 1px solid red; */
  }

  .carousel__slider__item:hover .dados_imove_venda,
  .item_destaque:hover .dados_imove_venda{
    box-shadow: 1px 10px 10px 1px rgba(128, 128, 128, 0.056);
  }

  .carousel__slider__item:hover,
 .item_destaque:hover{
    scale: 1.02;
  }

  .dados_imove_venda{
    height: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: visible;
    box-shadow: 1px 10px 10px 1px gray;
    padding: 8px;
    transition: .7s all;
    /* border: 1px solid red; */
  }

  .dados_tipo_venda{
    width: 100%;
    height: 65px;
   
  }

  .valor_venda{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    color: rgb(0, 98, 255);
    /* border: 1px solid red; */
  }

  .icones_venda{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    overflow: hidden;
    /* border: 1px solid red; */
  }

  .icones_venda i{
    min-width: 40px;
    max-width: 70px;
    max-height: 20px;
    color: rgba(0, 0, 0, 0.582);
    font-size: 0.8rem;
    text-align: center;
    /* border: 1px solid red; */
  }



  .valor_venda strong{
    font-size: 1.5rem;
  }
  
  .carousel__slider__item .item__3d-frame__box--right,
  .carousel__slider__item .item__3d-frame__box--left {
    top: 0;
    width: 40px;
    backface-visibility: hidden;
  }

  .carousel__prev i,
.carousel__next i {
  font-size: 60px;
  color: #1e272e;
  cursor: pointer;
}

.carousel__prev:hover i,
.carousel__next:hover i {
  transform: scale(1.25);
}

  
  .carousel__slider__item .item__3d-frame__box--left {
    left: 0;
    border-left-width: 5px;
    transform: translate3d(1px, 0, -40px) rotateY(-90deg);
    transform-origin: 0%;
  }
  
  .carousel__slider__item .item__3d-frame__box--right {
    right: 0;
    border-right-width: 5px;
    transform: translate3d(-1px, 0, -40px) rotateY(90deg);
    transform-origin: 100%;
  }
  
 .destaque_aluguel{
    min-height: 900px;
    width: 100%;
    border: 1px solid transparent;
    background-color: #F1F1F7;
    padding-bottom: 100px;
 }
  
 .destaque_aluguel div:nth-child(1) h2{
    margin-top: 40px;
 }

 .imovel_destaque{
    width: 90%;
    
    margin: 0 auto;
    margin-top: 30px;
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
 }


 /* Paulo */
 .item_destaque{
    width: 350px ; 
    height: 400px;
    margin-top: 30px;
    margin-bottom: 10px; 
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: .5s;
 }

 .item_destaque  img{
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px ;
    width: 100%;
    min-height: 220px;
    margin: 0px;
 }

 .icon_whats{
    width: 70px;
    height: 70px;
    /* border: 1px solid red; */
    position: fixed;
    bottom: 60px;
    right: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 3px green;
    transition: .5s;
    animation: sombra 2s infinite;
    cursor: pointer;
    z-index: 999;
 }

 @keyframes sombra{
    0%{
        box-shadow: 0px 0px 1px 3px green;
    }
    70%{
        box-shadow: 0px 0px 40px 10px green;
    }
    100%{
        box-shadow: 0px 0px 1px 3px green;
    }
 }

 .icon_whats img{
    width: 100%;
 }

 .rodape{
    margin-top: 150px;
    height: 450px;
    width: 100%;
    /* background-image: linear-gradient(120deg,  #F1F1F7 , white); */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D1E30;
    position: relative;
 }

 .pai_conteu_roda{
    width: 500px;
    height: 350px;
    /* border: 1px solid rgb(47, 255, 0); */
    margin: 10px;
    color:  white;
 }
 
 .pai_conteu_roda:nth-child(2){
    width: 350px;
 }

 .pai_conteu_roda h3{
    font-size: 1.7rem;
    margin-bottom: 10px;
 }

 .pai_conteu_roda hr{
    width: 80px;
    margin-bottom: 20px;
    transition: .5s;
 }

 .pai_conteu_roda:hover hr{
    width: 60%;
 }

 .desc_rodape,
 .dados_contato{
    /* border: 1px solid red; */
    width: 90%;
    /* height: 70%; */
    margin: 0 auto;
    /* padding: 15px; */

 }


 .desc_rodape:hover hr{
    width: 100%;
 }


 .desc_rodape h4,
 .desc_rodape p{
    margin-bottom: 15px;
    color: #c8cace;
 }

 .links_rodape{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
 }

 .pai_conteu_roda a{
    text-decoration: none;
    color: #c8cace;
    margin-bottom: 7px;
    transition: .5s;
    display: block;
 }

 .pai_conteu_roda a:hover{
    color: white;
    margin-left: 10px;
 }

 .pai_conteu_roda i{
    margin-right: 10px;
 }

 .dados_contato p{
    color:#c8cace;
    margin-bottom: 10px;
 }

.direitos{
    width: 100%;
    height: 70px;
    /* background-color: black; */
    background-image: linear-gradient(180deg, #0D1E30, rgba(0, 0, 0, 0.738));
    position: absolute;
    bottom: 0px;
    color: #c8cace;
    /* border: 1px solid rgb(0, 255, 17); */
    display: flex;
    
}

.direitos div{
    width: 45%;
    /* border: 1px solid red; */
    text-align: end;
}

.direitos div:nth-child(1){
    display: flex;
    align-items: center;
}

.direitos div img{
    width:150px;
    margin-top: 15px;
}

/* Carrosel de depoimentos e corretores  */

.container_carrossel{
    width: 100%;
    height: 800px;
    /* background-color: rgba(8, 154, 115, 0.592); */
    border: 1px solid transparent;
    overflow: hidden;
}

.titulo_section{
    width: 100%;
    height: 150px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrossel_depoimentos{
    width: 90%;
    margin: 0 auto;
    height: 450px;
    /* background-color: rgba(255, 242, 0, 0.737); */
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.pai_card{
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.4s ease-in-out
}

.card_depoimento{
    flex: 0 0 300px; 
    height: 380px;
    border: 1px solid transparent;
    /* background-color: rgb(30, 255, 0); */
    margin-left: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0px 0px 4px 1px gray; */
    margin-top: 15px;
    padding: 8px;
    background-color: #0D1E30;
}

.foto_cliente{
    width: 180px;
    height: 180px;
    
}

.foto_cliente img{
    width: 100%;
    border-radius: 50%;
    text-align: center;
}

.texto_depoimento{
    width: 280px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.titulo_depoimento{
    width: 280px;
    /* border: 1px solid rgb(0, 153, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_depoimento div p:nth-child(1){
    color: white;
    font-size: 1.4rem;
}

.titulo_depoimento div p:nth-child(2){
    text-align: center;
    color: #c8cace;
    margin-bottom: 7px;
}

.incon_depoimento{
    width: 280px;
    text-align: center;
}

.incon_depoimento i{
    color:rgb(255, 215, 0); 
}

.descri_depoimento{
    width: 260px;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 5px;
    color: white;
}

.descri_depoimento p:nth-child(2){
    margin-top: 10px;
    font-weight: 700;
    color: #c8cace;
}
