*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container_nav{
    width: 100%;
    display: flex;
    height: 100px;
}

.logo{
    width: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 60%;
    position: relative;
}

.opcoes{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.opcoes ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    margin-right: 60px;
}


.link_menu{
    text-decoration: none;
    color: white;
    position: relative;
    cursor: pointer;
    padding: 8px 0px;
    top: -80px;
    transition: .5s;
    animation: animalink 1s ease-in-out;
}


.link_menu_avista{
    transition: .5s;
    top: 0;
}

.link_menu::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: rgb(0, 98, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in-out;
}

.opcoes ul li a:hover::after{
    width: 100%;
}

.link_menu[aria-current = 'page']::after {
    width: 100%;
}

.link_menu[aria-current = 'page']:hover::after {
    width: 30%;
}

.inicial{
    width: 100%;
    height: 100vh;
    background-image: url('../img/Mansao.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    animation: zoom 26s  2s infinite linear;
}

.inicial::before {
    content: '';
    height: inherit;
    width: inherit;  
    display: block;
    position: absolute;
    background-image: linear-gradient(360deg, rgba(210, 207, 207, 0.550) 10%, rgba(11, 12, 12, 0.33) 35%, rgba(255, 255, 255, 0.200) 85%);
}

@keyframes zoom{
    0%{
        background-size: 100%;
    }
    50%{
        background-size: 110%;
    }
    100%{
        background-size: 100%;
    }
}


.container_busca{
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    color: white;
    position: relative;
}

.container_busca h1{
    font-size: 2.8rem;
}

.container_busca p{
    font-size: 1.3rem;
}

.filtro{
    width: 100%;
    margin-top: 30px;
    background-color: rgba(244, 233, 233, 0.44);
    border-radius: 35px;
    padding: 20px;
    
}

.filtro form{
    display: flex;
    justify-content: space-between;
    
}

.filtro form div{
    width: 200px;
    
}

.select_busca{
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    outline:gray;
    border: none;
    font-size: 1.0rem;
    font-weight: 500;
    
}

.select_foco{
   
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px   ;
    border-bottom-left-radius: 0 ;
    border-bottom-right-radius: 0 ;
    outline:gray;
}


.filtro form div button{
    width: 50%;
   padding: 15px;
   border-radius: 30px;
   border: none;
   background-color: rgb(0, 98, 255) ;
   color: white;
   font-size: 1.0rem;
   font-weight: 500;
   cursor: pointer;
   transition: .5s;
}

.filtro form div button:hover{
    background-color:rgb(3, 24, 58);
}

/* Conteúdo da tela home  */

.conteudo_home{
    width: 100%;
    height: 200px;
    border: 1px solid red;
}